{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="row  heading col-8">
        <h1>TOP 20 LEADING AFRICAN COUNTRIES!</h1>
        <h4>With their Capital cities and Presidents.</h4>
    </div>
    <div class="row col-10">
    
        <table>
            <tr>
                <th class="smallcol" style="width: 100px">Calling code</th>
                <th class="bigcol">Country</th>
                <th class="bigcol">City</th>
                <th class="bigcol" style="width: 500px">Presidents</th>
            </tr>
            <tr>
                <td>+256</td>
                <td>Uganda</td>
                <td>kampala</td>
                <td>Yoweri Museveni</td>
            </tr>
            <tr>
                <td>+254</td>
                <td>Kenya</td>
                <td>Nairobi</td>
                <td>William Ruto</td>
            </tr>
            <tr>
                <td>+250</td>
                <td>Rwanda</td>
                <td>Kigali</td>
                <td>Paul Kagami</td>
            </tr>
            <tr>
                <td>+255</td>
                <td>Tanzania</td>
                <td>Dodoma</td>
                <td>Samia Suluhu</td>
            </tr>
            <tr>
                <td>+260</td>
                <td>Zambia</td>
                <td>Lusaka</td>
                <td>Hakainde Hichilema</td>
            </tr>
            <tr>
                <td>+263</td>
                <td>Zimbabwe</td>
                <td>Harare</td>
                <td>Emmerson Mnangagwa</td>
            </tr>
            <tr>
                <td>+242</td>
                <td>DRC</td>
                <td>Brazzaville</td>
                <td>Felix Tshisekedi</td>
            </tr>
            <tr>
                <td>+233</td>
                <td>Ghana</td>
                <td>Accra</td>
                <td>Nana Akufo</td>
            </tr>
            <tr>
                <td>+234</td>
                <td>Nigeria</td>
                <td>Abuja</td>
                <td>Bola Tinubu</td>
            </tr>
            <tr>
                <td>+221</td>
                <td>senegal</td>
                <td>Dakar</td>
                <td>Macky Sall</td>
            </tr>
            <tr>
                <td>+27</td>
                <td>South Africa</td>
                <td>Pretoria</td>
                <td>Cyril Ramaphosa</td>
            </tr>
            <tr>
                <td>+20</td>
                <td>Egypt</td>
                <td>Cairo</td>
                <td> Abdel Fattah el-Sisi</td>
            </tr>
            <tr>
                <td>+212</td>
                <td>Morocco</td>
                <td>Rabat</td>
                <td>Mohammed VI</td>
            </tr>
            <tr>
                <td>+257</td>
                <td>Burundi</td>
                <td>Gitega</td>
                <td>Évariste Ndayishimiye</td>
            </tr>
            <tr>
                <td>+269</td>
                <td>Comoros</td>
                <td>Moroni</td>
                <td>Azali Assoumani</td>
            </tr>
            <tr>
                <td>+249</td>
                <td>Sudan</td>
                <td>Juba</td>
                <td>Abdel Fattah</td>
            </tr>
            <tr>
                <td>+231</td>
                <td>Liberia</td>
                <td>Monrovia</td>
                <td>George Weah</td>
            </tr>
            <tr>
                <td>+218</td>
                <td>Libya</td>
                <td>Monrovia</td>
                <td>Mohamed al-Menfi</td>
            </tr>
            <tr>
                <td>+265</td>
                <td>Malawi</td>
                <td>Lilongwe</td>
                <td>Lazarus Chakwera</td>
            </tr>
            <tr>
                <td>+252</td>
                <td>Somalia</td>
                <td>Mogadishu</td>
                <td> Hassan Sheikh Mohamud</td>
            </tr>
        </table>
        
    </div>
</body>

</html>